.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.sections {
  position: relative;
  top: 64px;
}

.loader:empty {
  position: absolute;
  top: calc(50% - 12em);
  left: calc(50% - 20em);
  width: 40em;
  height: 40em;
  background-image: url("./assets/svg/we_carry.svg");
  background-repeat: no-repeat;
  animation: load8 2.5s ease-in-out;
  transition-property: transform;
  opacity: 0;
}

@keyframes load8 {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
