.entries a button {
    color: #FFFFFF !important;
    background: #55565B !important;
    box-shadow: none !important;
}

.entries a {
    text-decoration: none;
}

.entries a:hover button {
  background: #99CC33 !important;
}

@media screen and (max-width: 1015px) {
    .entries a button {
        background: #99CC33 !important;
    }
}
