/* Brand COLOR Green: #99CC33 */
/* Brand COLOR Grey: #55565B */

/* Commons */
html, body,
h1, h2, h3, h4, h5, h6,
a, button, input,
ul, ol, li {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sections h1 {
    color: #99CC33;
    text-align: center;
    margin: 20px;
}

/* Welcome page */
.logo {
    background-image: url("/images/svg/we_carry.svg");
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    width: 12em;
    height: 6em;
}
#welcome-page a,
#login-page button.btn-primary,
#register-page button.btn-primary {
    background-color: #FFF;
    border: 1px solid #99CC33;
}

#welcome-page a:hover,
#login-page button.btn-primary:hover,
#register-page button.btn-primary:hover,
#dashboard a.btn:hover {
    background-color: #99CC33;
    color: #FFF;
}

#login-page h1,
#login-page h1 i,
#register-page h1,
#register-page h1 i {
    font-size: 22px;
}

#welcome-page a,
#login-page button.btn-primary,
#register-page button.btn-primary,
#login-page h1.text-center,
#register-page h1.text-center,
#login-page h1 i,
#register-page h1 i,
#register-page a,
#login-page a {
    color: #55565B;
}

#login-page a:hover,
#register-page a:hover {
    color: #99CC33;
}

/* Header */

header {
    width: 100%;
    height: 64px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    background: #FFFFFF;
    display: none;
    flex-direction: inherit;
    align-items: left;
    justify-content: center;
    z-index: 999999;
}

header.show {
    display: flex;
}

header .links {
    width: 100%;
    margin: 0 auto;
    padding-left: 1.5rem;
    text-align: left;
    vertical-align: middle;
}

header .links a,
.user-module a {
    text-decoration: none;
    color: #55565B;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: 5px;
}

header .links a:hover,
header .links .selected {
  color: #99CC33 !important;
}

header .links .selected {
    font-weight: 700;
}

header img.app-logo {
    width: 120px;
    height: auto;
    position: relative;
}

/* @media screen and (max-width: 1015px) {
    header img.app-logo {
        position: relative;
        top: 4px;
        margin: 0 10px 0;
    }
} */

/* Header User Module */
.user-module {
    width: auto;
    display: inherit;
    padding-right: 1.5rem;
    margin-bottom: 40px;
    padding-top: 20px;
}

.user-module a {
    color: #55565B;
}

.user-module a:hover {
    color: #99CC33;
}

.user-module .user-name {
    width: auto;
}

.user-module h6 {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    width: 310px;
    min-width: 240px;
    margin: 26px 0;
}

.user-module h6 span {
    font-weight: 400;
}

.user-module .user-module-icon {
    width: 50px;
    height: 50px;
    color: #99CC33;
    position: relative;
    top: 8px;
    margin-left: 10px;
}

.user-module h6,
.user-module .user-module-icon:hover,
.user-module-icon.selected {
    color: #55565B;
}

.user-module-icon.selected {
    background-color: rgba(0, 0, 0, 0.08);
}


#mobileMenu {
    display: none;
}
/* Mobile */
@media screen and (max-width: 1024px) {
    header .links .navs,
    .user-module a {
        display: none;
    }
    #mobileMenu {
        display: flex;
    }

    header .links {
        padding-left: 1.0rem;
    }

    #mobileMenu i,
    #mobileMenu #mobileMenuIcon {
        font-size: 28px;
        color: #55565B;
        margin: 19px 20px;
        cursor: pointer;
    }

    #mobileMenu #mobileMenuIcon.selected {
        color: #99CC33;
    }
    
    #mobileMenu .links {
        display: none;
        width: 100% !important;
        height: auto;
        top: 65px;
        position: absolute;
        left: 0;
        background-color: #555;
        opacity: 0.9;
        text-align: center;
    }

    #mobileMenu .links a {
        color: #99CC33;
        font-weight: bold;
        margin: 20px 0 20px;
    }

    #mobileMenu .links a.btn {
        color: #FFF;
        background-color: transparent;
        border: none;
    }

    #mobileMenu .links a:hover {
        text-decoration: underline;
    }
    
    #mobileMenu img.app-logo {
        width: 120px;
        height: auto;
        position: relative;
        top: 23px;
    }
}

table {
    font-size: 0.8125rem;
}

/* Dashboard page */
#dashboard,
#orders,
#tracking-page,
#product-page,
#entries,
#stats {
    margin-top: 88px; /* Double the Header height */
}

#dashboard .lead {
    margin-top: 3px;
}

#dashboard a,
#orders a {
    margin-left: 20px;
}

#dashboard a.btn:hover,
#orders a.btn:hover {
    border-color: #99CC33;
}

#dashboard table a,
#orders table a {
    color: blue;
    margin-left: 0;
    text-decoration: underline;
}
#dashboardtable a:hover,
#orders a:hover {
    color: #99CC33;
}

#entries .table-wrapper {
    overflow-x:auto
}

#entries table {
    width:100%;
    font-size: 12px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

#entries .html2excel button {
    width: 100%;
    margin: 10px 0 10px; 
}

#entries .html2excel .file-title {
    height: 60px;
}

#entries .html2excel .file-title-text {
    font-weight: bold;
    color: #55565B;
}

@media screen and (min-width: 1360px) {
    #entries .table-wrapper {
        width: 124%;
        margin-left: -12%;
    }
}

#entries .html2excel button {
    background-color: #99CC33;
    border-color: #99CC33;
}

#entries .html2excel button:hover {
    background-color: #55565B;
    border-color: #55565B;
}

#entries button.btn-outline-danger {
    background-color: #FFF;
    color: #99CC33;
}

#entries button.btn-outline-danger:hover {
    background-color: #99CC33;
    border-color: #99CC33;
    color: #FFF;
}
