/* NEW STYLES */
/* TOP round head */
.top-header {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    line-height: 54px;
    max-height: 60px;
}
.top-heading {
    padding: 6px 25px 0;
    font-size: 1rem;
}
.top-heading.full {
    width: 100%;
}
.top-heading-33 {
    width: 33.33%;
}
.top-heading-25 {
    width: 25%;
    padding: 6px 25px 0;
    font-size: 1rem;
}

.top-round-borders {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.bottom-round-borders { 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Dashboard specific */
.stock-wrapper {
    margin-bottom: 40px;
}

/* End Dashboard specific */

/* List */
.list-header {
    margin-bottom: 4px;
}

ul.items-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 540px;
    overflow: scroll;
    border: 1px solid #E1E1E1;
}

/* End list */

/* List item */
.list-item {
    width: 100%;
    display: flex;
    min-height: 46px;
}

.list-item:hover {
    background-color: #b9d581;
    color: #FFFFFF;
}

.list-item .inner {
    width: 25%;
    padding-top: 15px;
    margin-left: 25px;
}

.list-item .inner a {
    /* a tags override */
    margin-left: 0 !important;
}

/* Orders overrides */
#orders .list-item .inner {
    padding: 5px 0;
    margin-left: 25px;
    line-height: 42px;
}

/* End list item */

.green-background {
    background-color: #99CC33;
}

.grey-background {
    background-color: #E1E1E1;
}

.white-font-color {
    color: #FFFFFF;
}

/* Responsive images */
.responsive {
    width: 100%;
    height: auto;
}
