.mobile-menu {
    display: flex;
}

.mobile-menu button {
    color: #99CC33;
    width: 50px;
    height: 50px;
    top: 8px;
    margin-left: 10px;
}

.mobile-menu img.app-logo {
    width: 120px;
    height: auto;
    position: relative;
    top: 23px;
}

.mobile-menu .selected {
    background-color: rgba(0, 0, 0, 0.08);
}
