<div id="entries" class="sections">
    <h1>Ingresos de mercadería</h1>
    <!-- Entries options -->
    <div class="row">
        <div class="col">
            <a id="upload-excel-file" href="/entries/upload">Subir un archivo Excel</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a id="genereate-excel-file" href="/entries/generate">Generar un archivo Excel</a>
        </div>
    </div>
</div>
<script>
    // Show header when view is dashboard.
    document.getElementsByTagName('header')[0].classList.add('show');
</script>