<div id="orders" class="sections">
        <h1>Ingresos de mercadería</h1>
</div>
<script>
    // Show header when view is dashboard.
    document.getElementsByTagName('header')[0].classList.add('show');
</script>