<div id="fileupload-success" class="sections">
    <h3>Tu archivo: <br> <code><%= file.name %></code></h3> 
    <br> 
    <h2>Fue enviado con exito!</h2>
    <br>
    <a href="/entries">Continuar</a>
</div>
<script>
    // Show header.
    document.getElementsByTagName('header')[0].classList.add('show');
</script>