<div id="fileupload-error" class="sections">
    <h3>Ups, parece que hubo un error.</h3>
    <h2>Por favor, volvé a intentarlo.</h2>
    <a href="/entries">Volver</a>
</div>
<script>
    // Show header.
    document.getElementsByTagName('header')[0].classList.add('show');
</script>