<div id="generatefile" class="sections">
    <div id="sentEmail" class="alert alert-dismissible alert-success collapse success-message">
        <!-- <button type="button" class="close">&times;</button> -->
        <strong>Bien hecho!</strong> Tu archivo fue enviado con exito a los depositos de We Carry.
    </div>
    
    <div id="errorSentEmail" class="alert alert-dismissible alert-danger collapse error-message">
        <!-- <button type="button" class="close">&times;</button> -->
        <strong>Oh no!</strong> Algo salio mal, vuelve a intentarlo por favor.
    </div>

    <h5>Crea el listado de tus productos a ingresar en nuestro deposito y envialo como archivo Excel automaticamente desde acá. <span style="margin-left: 20px;"><a class="back" href="/entries">Volver</a></span></h5>
    <br>
    <div class="wrappers">
        <div class="generate-wrapper">
            <div class="top-header green-background white-font-color top-round-borders">
                <h2>CREAR ARCHIVO .XLSX</h2>
            </div>
            <div class="html2excel grey-background bottom-round-borders">
                <div class="row">
                    <div class="col">
                        <button id="add-item-button" type="button" class="btn" onclick="converter.openAddItemModal()">Agregar Item</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn" onclick="converter.sendExcelFileViaMail()">Enviar archivo Excel por mail</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn" onclick="converter.downloadFile(event)">Descargar archivo Excel</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn" onclick="converter.resetAll()">Borrar Todo</button>
                    </div>
                </div>
                <div class="form-group">
                    <input id="file-name" class="form-control" type="text" placeholder="Ingresa el nombre de tu archivo (sin .xlsx)" onkeyup="converter.fileNameDebounceKeyUp(event)" onfocusout="converter.clearFileNameInput()" />
                    <label class="col-form-label" for="file-name">Nombre del archivo: </label>
                    <span id="file-title"><span class="file-title-text"></span><code>.xlsx</code></span>
                </div>
            </div>
        </div> 
        <!-- End wrapper -->
        <!-- Add item form -->
        <div class="add-item-wrapper">
            <div class="top-header green-background white-font-color top-round-borders">
                <h2>AGREGAR ITEM</h2>
            </div>
            <form id="additemform" class="grey-background bottom-round-borders">
                <div class="form-1">
                    <div class="form-group">
                        <!-- <label for="numnerid">NRO ID</label> -->
                        <input type="text" class="form-control datafield" id="numberid" aria-describedby="id-number" placeholder="NRO ID">
                        <!-- <small id="emailHelp" class="form-text text-muted">El numero de identificación de tu producto.</small> -->
                    </div>
                    <div class="form-group">
                        <!-- <label for="nameandsurname">Nombre y apellido</label> -->
                        <input type="text" class="form-control datafield" id="nameandsurname" aria-describedby="name-surname" placeholder="Nombre y apellido">
                        <!-- <small id="emailHelp" class="form-text text-muted">El nombre y apellido del remitente.</small> -->
                    </div>
                    <div class="form-group">
                        <!-- <label for="street">Calle</label> -->
                        <input type="text" class="form-control datafield" id="street" aria-describedby="street" placeholder="Calle">
                        <!-- <small id="emailHelp" class="form-text text-muted">Calle a la cual debe ser enviado el item.</small> -->
                    </div>
                    <div class="form-group">
                        <!-- <label for="zipcode">CP</label> -->
                        <input type="text" class="form-control datafield" id="zipcode" aria-describedby="zipcode" placeholder="CP">
                        <!-- <small id="emailHelp" class="form-text text-muted">Codigo Postal.</small> -->
                    </div>
                    <div class="form-group">
                        <!-- <label for="localidad">Localidad</label> -->
                        <input type="text" class="form-control datafield" id="localidad" aria-describedby="localidad" placeholder="Localidad">
                        <!-- <small id="emailHelp" class="form-text text-muted">Localidad.</small> -->
                    </div>
                    <div class="form-group">
                        <!-- <label for="localidad">Provincia</label> -->
                        <input type="text" class="form-control datafield" id="province" aria-describedby="province" placeholder="Provincia">
                        <!-- <small id="emailHelp" class="form-text text-muted">Provincia.</small> -->
                    </div>
                    <div class="form-group">
                        <!-- <label for="localidad">Codigo de Producto</label> -->
                        <input type="text" class="form-control datafield" id="product-code" aria-describedby="product-code" placeholder="Codigo de producto">
                        <!-- <small id="emailHelp" class="form-text text-muted">Codigo de producto.</small> -->
                    </div>
                </div>
                <!-- Half form -->
                <div class="form-2">
                    <div class="form-group">
                        <!-- <label for="localidad">Descripción</label> -->
                        <input type="text" class="form-control datafield" id="description" aria-describedby="description" placeholder="Descripción">
                        <!-- <small id="emailHelp" class="form-text text-muted">Descripción de producto.</small> -->
                    </div>
                    <div class="form-group">
                        <!-- <label for="localidad">VD</label> -->
                        <input type="text" class="form-control datafield" id="vd" aria-describedby="vd" placeholder="VD">
                        <!-- <small id="emailHelp" class="form-text text-muted">VD.</small> -->
                    </div>
                    <div class="form-group">
                            <!-- <label for="email">Email</label> -->
                        <input type="text" class="form-control datafield" id="email" aria-describedby="email" placeholder="Email">
                        <!-- <small id="emailHelp" class="form-text text-muted">Direccioón de</small> -->
                    </div>
                    <div class="form-group">
                        <!-- <label for="observations">Observaciones</label> -->
                        <textarea class="form-control datafield" id="observations" rows="3" placeholder="Observaciones" cols="119"></textarea>
                    </div>
                    <div class="form-group">
                            <!-- <label for="email">Cantidad</label> -->
                        <input type="number" class="form-control datafield" id="quantity" aria-describedby="quantity" placeholder="Cantidad" min="0">
                        <!-- <small id="emailHelp" class="form-text text-muted">Cantidad.</small> -->
                    </div>
                    <div class="form-group">
                            <!-- <label for="email">Gestion a realizar</label> -->
                        <input type="text" class="form-control datafield" id="action" aria-describedby="action" placeholder="Gestion a realizar">
                        <!-- <small id="emailHelp" class="form-text text-muted">Gestion a realizar.</small> -->
                    </div>
                </div>
            </form>
            <button id="" style="width: 100%; margin: 10px 0 0 0;" type="button" class="btn" onclick="converter.addItem()">Agregar item</button>
        </div>
    </div>
    <!-- End wrappers -->
    <!-- TABLE -->
    <div class="table-wrapper" style="overflow-x:auto; margin-top: 100px;">
        <h2>Productos Agregados:</h2>
        <table id="products-for-excel" class="table table-hover">
            <tr class="table-default" style="visibility:hidden;">
            <th>NRO_ID</th>
            <th>Nombre y Apellido</th> 
            <th>CALLE</th>
            <th>CP</th>
            <th>LOCALIDAD</th>
            <th>PROVINCIA</th>
            <th>CODIGO DE PRODUCTO</th>
            <th>DESCRIPCION DEL PRODUCTO</th>
            <th>VD</th>
            <th>E-MAIL</th>
            <th>OBSERVACION</th>
            <th>CANTIDAD</th>
            <th>GESTION A REALIZAR</th>
            </tr>
            <tr class="data">
                <!-- Info append's here -->
            </tr>
        </table>
        <table id="products" class="table table-hover" style="visibility: hidden;">
            <thead>
                <tr class="table-default">
                <th scope="col">NRO_ID</th>
                <th scope="col">Nombre y Apellido</th> 
                <th scope="col">CALLE</th>
                <th scope="col">CP</th>
                <th scope="col">LOCALIDAD</th>
                <th scope="col">PROVINCIA</th>
                <th scope="col">CODIGO DE PRODUCTO</th>
                <th scope="col">DESCRIPCION DEL PRODUCTO</th>
                <th scope="col">VD</th>
                <th scope="col">E-MAIL</th>
                <th scope="col">OBSERVACION</th>
                <th scope="col">CANTIDAD</th>
                <th scope="col">GESTION A REALIZAR</th>
            </tr>
            </thead>
            <tr class="editor">
                <!-- USER INPUT -->
                <td id="id-number"></td>
                <td id="full-name"></td>
                <td id="street"></td>
                <td id="zipcode"></td>
                <td id="locality"></td>
                <td id="province"></td>
                <td id="product-id"></td>
                <td id="product-description"></td>
                <td id="vd"></td>
                <td id="email"></td>
                <td id="observation"></td>
                <td id="quantity"></td>
                <td id="mgmt-to-be-carried-out"></td>
            </tr>
        </table>
    </div>
</div>
<script>
    // Show header when view is dashboard.
    document.getElementsByTagName('header')[0].classList.add('show');
    // Start HTML2Excel converter.
    var converter = new Converter('add product and send email table', $, _);
    converter.createTableInputs();
    // converter.addItemOnEnter();
    $(document).ready(function () {
        $(document)
            .ajaxStart(function() {
                $('html, body').animate({scrollTop:0}, 'fast');
                $('.loader-wrapper').show();
                $('#sentEmail.alert').alert();
                $('#errorSentEmail.alert').alert();
            });
    });
    
</script>