<div id="integrations-page" class="sections">
    <h3>Integraciones</h3>
    <br>
    <p>
        Con <b>We Carry</b> podes integrar distintos canales de ventas. 
        <br> 
        Hace el seguimiento de los envios de tus ventas desde nuestra app!
    </p>
    <a href="/integrations/meliredirect">
        <img src="/images/apps/meli.svg" width="200" height="200" alt="logo de Mercado Libre" />
    </a>
</div>
<script>
    // Show header when view is integrations.
    document.getElementsByTagName('header')[0].classList.add('show');
</script>