<div id="integrations-page" class="sections">
    <h1 style="margin: 100px 0 20px;">Integraciones</h1>
    <p style="font-size: 16px;">
        Podés integrar distintos canales de ventas en la plataforma We Carry.
        <br>
        Hacé el seguimiento de los envíos de tus ventas desde nuestra app!
    </p>
    <div class="apps">
        <div class="card meli">
            <img src="/images/svg/apps/meli.svg" alt="mercado libre brand icon">
        </div>
        <div class="card tienda-nube">
            <img src="/images/svg/apps/tienda-nube.png" alt="tienda nube brand icon">
        </div>
    </div>
</div>
<script>
    // Show header when view is dashboard.
    document.getElementsByTagName('header')[0].classList.add('show');
</script>