<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>We Carry</title>
</head>
<body>
    <header>
        <div class="links">
            <a href="/dashboard">
                <img src="/images/svg/we_carry.svg" class="app-logo" alt="logo" />
            </a>
            <a id="inventory" class="navs" href="/dashboard">Inventario</a>
            <a id="orders" class="navs" href="/orders">Pedidos</a>
            <a id="entries" class="navs" href="/entries">Solicitudes</a>
            <a id="stats" class="navs" href="/stats">Estadísticas</a>
        </div>
        <div class="user-module">
            <!-- TODO add icons -->
            <a id="logout" class="navs" href="/users/logout" class="btn btn-secondary">Salir</a>
        </div>
        <div id="mobileMenu">
            <div class="links">
                <a id="inventory" class="navs-mobile" href="/dashboard">Inventario</a>
                <a id="orders" class="navs-mobile" href="/orders">Pedidos</a>
                <a id="entries" class="navs-mobile" href="/entries">Solicitudes</a>
                <a id="stats" class="navs-mobile" href="/stats">Estadísticas</a>
                <a id="logout" class="btn btn-secondary navs-mobile" href="/users/logout">Salir</a>
            </div>
            <i id="mobileMenuIcon" class="fas fa-bars"></i>
        </div>
    </header>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.1/xlsx.full.min.js"></script>
    <script src="/js/FileSaver.min.js"></script>
    <script src="/js/lodash.js"></script>
    <script src="/js/excel-converter.js"></script>
    <script src="/js/mobile-menu.js"></script>
    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>