<div id="meliintegrations-page" class="sections">
    <h3>Tus ventas en Mercado Libre</h3>
    <br>
    <img src="/images/apps/meli.svg" width="200" height="200" alt="logo de Mercado Libre" />
    <br>
    <p>Codigo: <%= data.code %> </p>
</div>
<script>
    // Show header when view is integrations.
    document.getElementsByTagName('header')[0].classList.add('show');
</script>