<div id="orders" class="sections">
    <h1>Pedidos</h1>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">SKU</th>
            <th scope="col">Productos</th>
            <th scope="col">Tracking</th>
            <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-default">
                <th scope="row">Gorras de golf</th>
                <td>
                    <a href="/products/159/gorrasgolf/6/10">159</a>
                </td>
                <td>6</td>
                <td>
                    <div class="tracking-link-wrapper">
                        <a href="/tracking/159/gorrasgolf">
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                    </div>
                </td>
                <td>
                    <div class="status-text">
                        <p>Listo para despachar</p>
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                </td>
            </tr>
            <tr class="table-default">
            <th scope="row">Botines</th>
            <td>
                <a href="/products/237/botines/10/6">237</a>
            </td>
            <td>10</td>
            <td>
                <div class="tracking-link-wrapper">
                    <a href="/tracking/237/botines">
                        <i class="fas fa-map-marker-alt"></i>
                    </a>
                </div>
            </td>
            <td>
                <div class="status-text">
                    <p>Entregado</p>
                    <i class="far fa-calendar-check"></i>
                </div>
            </td>
            </tr>
            <tr class="table-default">
                <th scope="row">Camperon de lluvia</th>
                <td>
                    <a href="/products/237/camperondelluvia/12/3">237</a>
                </td>
                <td>12</td>
                <td>
                    <div class="tracking-link-wrapper">
                        <a href="/tracking/237/camperondelluvia">
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                    </div>
                </td>
                <td>
                    <div class="status-text">
                        <p>En camino</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table> 
</div>
<script>
    // Show header when view is dashboard.
    document.getElementsByTagName('header')[0].classList.add('show');
</script>