<div id="product-page" class="sections">
    <h1>ID: <%= product.id %></h1>
    <h1>Nombre: <%= product.name %></h1>
    <h1>Disponibilidad: <%= product.availability %></h1>
    <h1>Pedidos: <%= product.ordered %></h1>
</div>
<script>
    // Show header when view is dashboard.
    document.getElementsByTagName('header')[0].classList.add('show');
</script>