<div id="tracking-page" class="sections">
    <h1>Haga el seguimiento de su producto</h1>
    <h1>ID: <%= product.id %></h1>
</div>
<script>
    // Show header when view is dashboard.
    document.getElementsByTagName('header')[0].classList.add('show');
</script>