<div id="uploadfile" class="sections">
    <br>
    <div class="row">
        <div class="col">
            <div class="top-round-borders green-background top-header white-font-color">
                    <h2>SUBIR ARCHIVO .XLSX</h2>
            </div>
            <div class="form-group bottom-round-borders">
                <p>Subi el archivo con el listado de tus productos a ingresar en nuestro deposito y envialo.</p>
                <form ref='uploadForm' action="/entries/fileupload" id="uploadForm" method="post" encType="multipart/form-data">
                    <label class="form-check-label">
                        <input type="file" name="fileupload" />
                    </label>
                    <input id="uploadfilesubmit" type="submit" class="btn" />
                </form>
            </div>
            <a class="back" href="/entries">Volver</a>
        </div>
    </div>
</div>
<script>
    // Show header when view is dashboard.
    document.getElementsByTagName('header')[0].classList.add('show');
    $(document).ready(function () {
        $(document)
            .ajaxStart(function() {
                $('html, body').animate({scrollTop:0}, 'fast');
                $('.loader-wrapper').show();
                $('#sentEmail.alert').alert();
                $('#errorSentEmail.alert').alert();
            });
        $('form').on('submit', function() {
            $('.loader-wrapper').show();
        });
    });
</script>