<div id="warning-page" class="sections">
    <h3>Parece que hubo un problema:</h3>
    <code><%= message %></code>
    <br>
    <br>
    <a class="back" href="<%= backUrl %>">Volver</a>
</div>
<script>
    // Show header when view is dashboard.
    document.getElementsByTagName('header')[0].classList.add('show');
</script>
