<div id="welcome-page" class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
        <div class="logo"></div>
        <p>Ingresa o crea una cuenta si todavía no estas registrado</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
            >Registrarse</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Ingresar</a>
        </div>
    </div>
</div>