<div id="welcome-page" class="sections">
    <div class="col-md-6 m-auto">
    <h1>Bienvenido <b><%= user.name %></b>, te estabamos!</h1>
    <p>
        Desde esta plataforma podrás
        administrar tus productos,
        visualizar los pedidos, realizar
        solicitudes, integraciones y
        también analizar tus ventas.
    </p>
    </div>
</div>
<script>
    // Show header
    document.getElementsByTagName('header')[0].classList.add('show');
</script>